* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background-image: linear-gradient(
      rgba(66, 66, 75, 0.696),
      rgba(74, 74, 84, 0.641)
    ),
    url("./../../images/1700728953336.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
